@min1440:  ~"(min-width: 1440px)";
@min1024:  ~"(min-width: 1024px)";
@jumbo:  ~"(min-width: 768px)";
@midi:  ~"(max-width: 767px)";
@min768max992: ~"(min-width: 768px) and (max-width: 992px)";
@min993max1200: ~"(min-width: 993px) and (max-width: 1200px)";

@main_color : #3CA2E0;
@white_color : #fff;
@gray1_color : #EAEAEA;
@blue1_color : #79CCFC;

body 
{
	padding-top: 70px;
}

.mbc{
	background: @main_color;
	color: @white_color;
}